* {
  box-sizing: border-box;
  // 移动端在长按的时候，盒子下有背景色
  -webkit-tap-highlight-color: transparent;
}

#app {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: inherit;
  -moz-osx-font-smoothing: grayscale; // macOS Firefox 字体抗锯齿
  -webkit-font-smoothing: antialiased; // macOS Webkit 字体抗锯齿
  text-rendering: optimizelegibility; // 优化字体渲染
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

table {
  text-indent: 0;
  border-collapse: collapse;
  border-color: inherit;
}

ol,
ul,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
}

.clearfix {
  &::after {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
    content: ' ';
  }
}
